<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LunalaApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- CSS-->
</head>
<body>

    <h1 class="text-center mt-5 mb-5 text-primary"> LunalaApp Stocks Management</h1>
    <!-- Medicine CRUD -->
    <div class="container">
        <div class="card">
            <div class="card-body">
                <section>
                    <h2>Medicine Stocks</h2>
                    <form method="post" action="/medicines"  onsubmit="showAlert()">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control mb-3" name="name" required>
                            </div>
                            <div class="col">
                                <label for="stock">Stock:</label>
                                <input type="text" class="form-control mb-3" name="stock" required>
                            </div>
                            <div class="col">
                                <label for="due_date">Due Date:</label>
                                <input type="date" class="form-control mb-3" name="due_date" required>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary mb-3 mt-4">Add Medicine</button>
                                <a href="{{ url_for('all_medicines') }}" class="btn btn-secondary mb-3 mt-4">View All</a>
                            </div>
                        </div>    
                    </form>
                </section>
                <script>
                    function showAlert() {
                        alert('Medicine added successfully!');
                    }
                </script>  
            </div>
        </div>
    </div>

    <!-- Animal CRUD -->
    <div class="container">
        <div class="card">
            <div class="card-body">
                <section>
                    <h2>Animals</h2>
                    <form method="post" action="/animals"  onsubmit="showAlert()">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="animal">Animal:</label>
                                <input type="text" class="form-control mb-3" name="animal" required>
                            </div>
                            <div class="col">
                                <label for="Breed">Breed:</label>
                                <input type="text" class="form-control mb-3" name="breed" required>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary mb-3 mt-4">Add Animal</button>
                                <a href="{{ url_for('all_animals') }}" class="btn btn-secondary mb-3 mt-4">View All</a>
                            </div>
                        </div>    
                    </form>
                </section>
                <script>
                    function showAlert() {
                        alert('Animal added successfully!');
                    }
                </script>  
            </div>
        </div>
    </div>
    
    <!-- FoodStocks CRUD -->
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <section>
                        <h2>Food Stocks</h2>
                        <form method="post" action="/foods" onsubmit="showAlert()">
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="brand">Brand:</label>
                                    <input type="text" class="form-control mb-3" name="brand" required>
                                </div>
                                <div class="col">
                                    <label for="stock">Stock:</label>
                                    <input type="text" class="form-control mb-3" name="stock" required>
                                </div>
                                <div class="col">
                                    <label for="due_date">Due Date:</label>
                                    <input type="date" class="form-control mb-3" name="due_date" required>
                                </div>
                                <div class="col">
                                    <label for="animal_id">Animal:</label>
                                    <select name="animal_id" required>
                                        {% for animal in animals %}
                                            <option value="{{ animal.id }}">{{ animal.animal }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-primary mb-3 mt-4">Add Food</button>
                                    <a href="{{ url_for('all_food') }}" class="btn btn-secondary mb-3 mt-4">View All</a>
                                </div>
                            </div>    
                        </form>
                    </section>
                    <script>
                        function showAlert() {
                            alert('Food added successfully!');
                        }
                    </script>  
                </div>
            </div>
        </div>

</body>
</html>

